4 Steps to be followed in Web Scraping:

--> Sending a HTTP requests to the webpage using requests module

--> Fetching and parsing the data form the webpage using BeautifulSoup library

--> Analysing the content of the Webpage (HTML tags) and storing in lists/dicts

--> Storing the data in the tabular format (.csv / .xlsx) json format

In [1]:
#Installing BeautifulSoup Library
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (from beautifulsoup4) (2.6)

[notice] A new release of pip is available: 24.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
#Importing Libraries
import bs4
import requests

In [3]:
#help(bs4)#to learn more about the package and use help(), dir(),type()

In [4]:
from bs4 import BeautifulSoup

In [5]:
#we will use our target web page to connect and fetch the information
url="https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city"

In [6]:
b=requests.get(url)
b

In [7]:
#we will work on single webpage to fetch the information
type(b.text)

str

In [8]:
#to pretify the content from the webpage we use beatiful soup

In [9]:
a=BeautifulSoup(b.text)
type(a)

bs4.BeautifulSoup

In [10]:
#print(a.prettify())

In [11]:
a.find('div',{"class":"infoWrap"}).text#let us extract single property

'3 BHK Apartment in Lakshmi SerenityPenamaluru, VijayawadaSpecifications 1.08 Cr5,000 / sq ft2161 Area in sq ftReady to moveConstruction Status0 - 1 year oldNew 3 BHK Property for Sale in Penamaluru Vijayawada:A 3 bhk property is available for sale in Lakshmi infratech India Pvt Ltd Serenity, Penamaluru, Vijayawada. The house is unfurnished. It has storm water drains as well as 24 x 7 security. The project ...Developed by Lakshmi infratech India Pvt LtdMoreView Phone Connect Now'

In [12]:
a.find('div',{"data-type":"price-link"}).text

' 1.08 Cr'

In [13]:
a.find('td',{"class":"size"}).text.strip()

'2161'

In [14]:
a.find('span',{"itemprop":"addressLocality"}).text

'Penamaluru'

In [15]:
a.find('td',{"class":"lbl rate"}).text

'5,000 / sq ft'

In [16]:
a.find('td',{"class":"val"}).text

'Ready to move'

In [17]:
a.find('li',{"class":"keypoint"}).text

'0 - 1 year old'

In [18]:
a.find('li',{"class":"keypoint","title":"Bathrooms"}).text

'5 Bathrooms'

In [19]:
a.find('a',{"class":"seller-name"}).text

'Lakshmi infratech India pvt ltd'

In [20]:
a.find('span',{"class":"seller-type"}).text

'BUILDER'

In [21]:
#Now let us the fields from entire page
#find_all()
g=a.find_all('div',{'class':'title-line'})
g[1].text

'2 BHK Apartment in Vishwa Ayodhya Gated Community'

In [22]:
for  i in g:
    print(i.text)

3 BHK Apartment in Lakshmi Serenity
2 BHK Apartment in Vishwa Ayodhya Gated Community
3 BHK Apartment in Lakshmi Serenity
2 BHK Apartment in Vishwa Ayodhya Gated Community
3 BHK Apartment in Lakshmi Serenity
3 BHK Apartment in Vishwa Ayodhya Gated Community
5 BHK Independent House
5 BHK Independent House
4 BHK Apartment in Invicon Navah
2 BHK Apartment
Residential Plot
8 BHK Independent House
3 BHK Apartment
3 BHK Villa
Residential Plot
3 BHK Villa in Emerald Sri Nivasam
Residential Plot in Greenagri Amaravati Plots
Residential Plot in Project
3 BHK Villa
Residential Plot in Project

In [23]:
#list comprehension
#[exprsn for var in functn/collection]
#Every list comprehension can be rewritten as a for loop but viceversa is not true
names = [i.text for i in g]

In [24]:
names

['3 BHK Apartment in Lakshmi Serenity',
 '2 BHK Apartment in Vishwa Ayodhya Gated Community',
 '3 BHK Apartment in Lakshmi Serenity',
 '2 BHK Apartment in Vishwa Ayodhya Gated Community',
 '3 BHK Apartment in Lakshmi Serenity',
 '3 BHK Apartment in Vishwa Ayodhya Gated Community',
 '5 BHK Independent House',
 '5 BHK Independent House',
 '4 BHK Apartment in Invicon Navah',
 '2 BHK Apartment',
 'Residential Plot',
 '8 BHK Independent House',
 '3 BHK Apartment',
 '3 BHK Villa',
 'Residential Plot',
 '3 BHK Villa in Emerald Sri Nivasam',
 'Residential Plot in Greenagri Amaravati Plots',
 'Residential Plot in Project',
 '3 BHK Villa',
 'Residential Plot in Project']

In [25]:
#sililar way get prices,area,location name,price per sqft
price=a.find_all('td',{'class':'price'})
prices=[i.text.strip() for i in price]

area=a.find_all('span',{'itemprop':'addressLocality'})
areas=[i.text.strip() for i in area]
print(areas)

['Penamaluru', 'Gannavaram', 'Penamaluru', 'Gannavaram', 'Penamaluru', 'Gannavaram', 'Ramalingeswara Nagar', 'PNT Colony', 'Kanuru', 'Gollapudi', 'Penamaluru', 'Currency Nagar', 'Gannavaram', 'Kankipadu', 'Ramavarapadu', 'Rajiv Bhargav Colony', 'Ibrahimpatnam', 'Nunna', 'Payakapuram', 'Nunna']

In [26]:
sqf=a.find_all('td',{'class':'lbl rate'})
sqfs=[i.text.strip() for i in sqf]
print(sqfs)

['5,000 / sq ft', '2,500 / sq ft', '4,499 / sq ft', '2,500 / sq ft', '5,000 / sq ft', '2,500 / sq ft', '4,313 / sq ft', '5,000 / sq ft', '7,918 / sq ft', '4,134 / sq ft', '21,000 / sq ft', '5,384 / sq ft', '3,475 / sq ft', '4,121 / sq ft', '13,473 / sq ft', '5,501 / sq ft', '3,555 / sq ft', '3,676 / sq ft', '4,905 / sq ft', '2,555 / sq ft']

In [27]:
prices

['1.08 Cr',
 '28 L',
 '90.51 L',
 '28 L',
 '1 Cr',
 '53 L',
 '1.1 Cr',
 '1.5 Cr',
 '2.15 Cr',
 '43 L',
 '42 L',
 '3.5 Cr',
 '75 L',
 '68 L',
 '22.5 L',
 '1.42 Cr',
 '1.11 Cr',
 '49.99 L',
 '1.3 Cr',
 '46 L']

In [28]:
for i in range(len(prices)):
    if prices[i].find('Cr')!=-1:
        x=''
        for j in prices[i]:
            if j==' ':
                break
            if j=='.':
                continue
            else:
                x+=j
        if(len(x)==2):
            x+='0' 
        if(len(x)==1):
            x+='00'
        x+=' L'
        prices[i]=x

In [29]:
for i in prices:
    print(i)

108 L
28 L
90.51 L
28 L
100 L
53 L
110 L
150 L
215 L
43 L
42 L
350 L
75 L
68 L
22.5 L
142 L
111 L
49.99 L
130 L
46 L

In [30]:
for i in range(len(prices)):
    k = prices[i].replace(" L","")
    prices[i]=float(k)
prices

[108.0,
 28.0,
 90.51,
 28.0,
 100.0,
 53.0,
 110.0,
 150.0,
 215.0,
 43.0,
 42.0,
 350.0,
 75.0,
 68.0,
 22.5,
 142.0,
 111.0,
 49.99,
 130.0,
 46.0]

In [31]:
x=a.find_all('a',{'class':'seller-name'})
builder_name = [i.text for i in x]
print(len(builder_name))
print(builder_name)

20
['Lakshmi infratech India pvt ltd', 'Vishwa Ventures', 'Lakshmi infratech India pvt ltd', 'Vishwa Ventures', 'Lakshmi infratech India pvt ltd', 'Vishwa Ventures', 'seller', 'seller', 'seller', 'seller', 'seller', 'seller', 'seller', 'seller', 'seller', 'seller', 'Vaaraahi', 'RK PROPERTIES', 'Balakrishna J', 'Rudhvied Infra Projects']

In [32]:
x=a.find_all('td',{'class':'val'})
status = [i.text for i in x]
print(len(status))
print(status)

20
['Ready to move', 'Ready to move', 'Ready to move', 'Ready to move', 'Ready to move', 'Ready to move', 'Ready to move', 'Under Construction', 'Ready to move', 'Ready to move', 'Resale', 'Ready to move', 'Under Construction', 'Under Construction', 'Resale', 'Under Construction', 'New', 'New', 'Ready to move', 'New']

In [33]:
x=a.find_all('li',{'class':'keypoint','title':'Bathrooms'})
br = [i.text for i in x]
print(len(br))
print(br)

8
['5 Bathrooms', '5 Bathrooms', '4 Bathrooms', '2 Bathrooms', '7 Bathrooms', '3 Bathrooms', '2 Bathrooms', '4 Bathrooms']

In [34]:
x=a.find_all('li',{'class':'keypoint','title':'facing'})
face = [i.text for i in x]
print(len(face))
print(face)

3
['East facing', 'East facing', 'East facing']

In [35]:
import re
#As we are having missing entries in both Bathrooms and facing we will
#fill them using regex (regular expression)
h=a.find_all('ul',{'class':'listing-details'})
#details=[i.text for i in h]
#print(details)
#Two empty lists to store both Facing and Bathrooms details
Bathrooms=[]
Facing=[]
for i in h:
    i=i.text
    bc=re.findall(r'(\d+) Bathrooms',i)
    if(bc):
        Bathrooms.append(int(bc[0]))
    else:
        Bathrooms.append(0)
print(Bathrooms)

[0, 0, 0, 0, 0, 0, 5, 5, 4, 2, 0, 7, 3, 2, 0, 0, 0, 0, 4, 0]

In [36]:
Facing.clear()
for i in h:
    i=i.text
    face=re.findall(r'(East|West|North|South|NorthEast|NorthWest|SouthEast|SouthWest) facing',i)
    if(face):
        Facing.append(face[0])
    else:
        Facing.append('Unknown')
        
print(Facing)

['Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'East', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'East', 'Unknown', 'East']

In [37]:
property_types=['Apartment',
'Builder Floor',
'Villa',
'Residential Plot',
'Independent House',
'Studio Apartment']

In [38]:
pro_type=[]
for i in names:
    
    for j in property_types:
        if j in i:
            pro_type.append(j)
            break
pro_type

['Apartment',
 'Apartment',
 'Apartment',
 'Apartment',
 'Apartment',
 'Apartment',
 'Independent House',
 'Independent House',
 'Apartment',
 'Apartment',
 'Residential Plot',
 'Independent House',
 'Apartment',
 'Villa',
 'Residential Plot',
 'Villa',
 'Residential Plot',
 'Residential Plot',
 'Villa',
 'Residential Plot']

In [39]:
print(len(pro_type))
print(len(areas))
print(len(prices))
print(len(Bathrooms))
print(len(Facing))
print(len(names))
print(len(sqfs))
print(len(status))
print(len(builder_name))

20
20
20
20
20
20
20
20
20

In [40]:
#we will store the data in the tabular format --->pandas
!pip install pandas

Requirement already satisfied: pandas in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [41]:
import pandas as pd

In [47]:
#let us crate a table using pandas -->dataframe
#we will use dictionaries here-->{'key':value'} --->Table
data = pd.DataFrame({'Property_Names':names,
'Property_type':pro_type,
'Areas':areas,
'Price in Lakhs':prices,
'Bathrooms':Bathrooms,
'Face':Facing,
'Square Feet':sqfs,
'Status':status,
'Builder_Name':builder_name})
#data

In [46]:
#Task is to get all entries from the multiple pages
#first let us fetch multiple urls
base_url = 'https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page='
for i in range(1,52):
    url=base_url + str(i)
   # print(url)
#clear_output -->IPython
#time -->sleep()
#Create a Dataframe with 1000 rows---> Day 1
#saketh@codegnan.com
#Subject Task-1
#Mail body -->Your Name ,branch ,rollnumber

In [64]:
a1=[]
a2=[]
a3=[]
a4=[]
a5=[]
a6=[]
a7=[]
a8=[]
a9=[]
def fn(s):
    b=requests.get(s)
    a=BeautifulSoup(b.text)
    g=a.find_all('div',{'class':'title-line'})
    names = [i.text for i in g]
    for i in names:
        a1.append(i)
    price=a.find_all('td',{'class':'price'})
    prices=[i.text.strip() for i in price]
    for i in range(len(prices)):
        if prices[i].find('Cr')!=-1:
            x=''
            for j in prices[i]:
                if j==' ':
                    break
                if j=='.':
                    continue
                else:
                    x+=j
            if(len(x)==2):
                x+='0' 
            if(len(x)==1):
                x+='00'
            x+=' L'
            prices[i]=x
    for i in range(len(prices)):
        k = prices[i].replace(" L","")
        prices[i]=float(k)
    for i in prices:
            a2.append(i)

    area=a.find_all('span',{'itemprop':'addressLocality'})
    areas=[i.text.strip() for i in area]
    for i in areas:
        a3.append(i)
    sqf=a.find_all('td',{'class':'lbl rate'})
    sqfs=[i.text.strip() for i in sqf]
    for i in sqfs:
        a4.append(i)
    x=a.find_all('a',{'class':'seller-name'})
    builder_name = [i.text for i in x]
    for i in builder_name:
        a5.append(i)
    x=a.find_all('td',{'class':'val'})
    status = [i.text for i in x]
    for i in status:
        a6.append(i)
    h=a.find_all('ul',{'class':'listing-details'})
    Bathrooms=[]
    Facing=[]
    for i in h:
        i=i.text
        bc=re.findall(r'(\d+) Bathrooms',i)
        if(bc):
            Bathrooms.append(int(bc[0]))
        else:
            Bathrooms.append(0)
    for i in h:
        i=i.text
        face=re.findall(r'(East|West|North|South|NorthEast|NorthWest|SouthEast|SouthWest) facing',i)
        if(face):
            Facing.append(face[0])
        else:
            Facing.append('Unknown')
    for i in Bathrooms:
        a7.append(i)
    for i in Facing:
        a8.append(i)
    property_types=['Apartment',
    'Builder Floor',
    'Villa',
    'Residential Plot',
    'Independent House',
    'Studio Apartment']
    pro_type=[]
    for i in names:
        f=False
        for j in property_types:
            if j in i:
                pro_type.append(j)
                f=True
                break
        if f==False:
            pro_type.append('unknown')
    for i in pro_type:
        a9.append(i)
base_url = 'https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page='
for i in range(1,52):
    url=base_url + str(i)
    fn(url)

In [68]:
data = pd.DataFrame({'Property_Names':a1,
'Property_type':a9,
'Areas':a3,
'Price in Lakhs':a2,
'Bathrooms':a7,
'Face':a8,
'Square Feet':a4,
'Status':a6,
'Builder_Name':a5})
data

,Property_Names,Property_type,Areas,Price in Lakhs,Bathrooms,Face,Square Feet,Status,Builder_Name
0,3 BHK Apartment in Lakshmi Serenity,Apartment,Penamaluru,108.00,0,Unknown,"5,000 / sq ft",Ready to move,Lakshmi infratech India pvt ltd
1,2 BHK Apartment in Vishwa Ayodhya Gated Community,Apartment,Gannavaram,28.00,0,Unknown,"2,500 / sq ft",Ready to move,Vishwa Ventures
2,3 BHK Apartment in Lakshmi Serenity,Apartment,Penamaluru,90.51,0,Unknown,"4,499 / sq ft",Ready to move,Lakshmi infratech India pvt ltd
3,2 BHK Apartment in Vishwa Ayodhya Gated Community,Apartment,Gannavaram,28.00,0,Unknown,"2,500 / sq ft",Ready to move,Vishwa Ventures
4,3 BHK Apartment in Lakshmi Serenity,Apartment,Penamaluru,100.00,0,Unknown,"5,000 / sq ft",Ready to move,Lakshmi infratech India pvt ltd
...,...,...,...,...,...,...,...,...,...
1003,Residential Plot,Residential Plot,Auto Nagar,85.80,0,West,"4,205 / sq ft",Resale,user1393
1004,Residential Plot,Residential Plot,Auto Nagar,85.80,0,West,"4,205 / sq ft",Resale,user1393
1005,Residential Plot,Residential Plot,Auto Nagar,85.80,0,West,"4,205 / sq ft",Resale,user1393
1006,Residential Plot in Kabela Centre,Residential Plot,Vidhyadharpuram,120.00,0,NorthWest,"6,410 / sq ft",Resale,Krishna Kurapati
1007,Residential Plot in NMR RESORTS AND DEVELOPERS,Residential Plot,Pedaogirala,15.00,0,East,"1,111 / sq ft",New,Manoj Kumar