In [1]:
import pandas as pd

In [3]:
!pip install beautifulsoup4
#installing BeautifulSoup

Requirement already satisfied: beautifulsoup4 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\abc\desktop\aiworkshop\teja\lib\site-packages (from beautifulsoup4) (2.6)

[notice] A new release of pip is available: 24.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import bs4
import requests 
import re
from bs4 import BeautifulSoup#importing required libraries

In [10]:
#main code
a1=[]
a2=[]
a3=[]
a4=[]
a5=[]
a6=[]
a7=[]
a8=[]     #declaring variables
a9=[]
def fn(s):
    b=requests.get(s)
    a=BeautifulSoup(b.text)
    g=a.find_all('div',{'class':'title-line'})
    names = [i.text for i in g]
    for i in names:  #for names
        a1.append(i)
    price=a.find_all('td',{'class':'price'})   #getting data and storing updating variables
    prices=[i.text.strip() for i in price] #for prices
    for i in range(len(prices)):
        if prices[i].find('Cr')!=-1:
            x=''
            for j in prices[i]:
                if j==' ':
                    break
                if j=='.':
                    continue
                else:
                    x+=j
            if(len(x)==2):
                x+='0' 
            if(len(x)==1):
                x+='00'
            x+=' L'
            prices[i]=x
    for i in range(len(prices)):
        k = prices[i].replace(" L","")
        prices[i]=float(k)
    for i in prices:
            a2.append(i)

    area=a.find_all('span',{'itemprop':'addressLocality'})
    areas=[i.text.strip() for i in area]
    for i in areas:
        a3.append(i)
    sqf=a.find_all('td',{'class':'lbl rate'})
    sqfs=[i.text.strip() for i in sqf]
    for i in sqfs:
        a4.append(i)
    x=a.find_all('a',{'class':'seller-name'})
    builder_name = [i.text for i in x]
    for i in builder_name:
        a5.append(i)
    x=a.find_all('td',{'class':'val'})
    status = [i.text for i in x]
    for i in status:
        a6.append(i)
    h=a.find_all('ul',{'class':'listing-details'})
    Bathrooms=[]
    Facing=[]
    for i in h:
        i=i.text
        bc=re.findall(r'(\d+) Bathrooms',i)
        if(bc):
            Bathrooms.append(int(bc[0]))
        else:
            Bathrooms.append(0)
    for i in h:
        i=i.text
        face=re.findall(r'(East|West|North|South|NorthEast|NorthWest|SouthEast|SouthWest) facing',i)
        if(face):
            Facing.append(face[0])
        else:
            Facing.append('Unknown')
    for i in Bathrooms:
        a7.append(i)
    for i in Facing:
        a8.append(i)
    property_types=['Apartment',
    'Builder Floor',
    'Villa',
    'Residential Plot',
    'Independent House',
    'Studio Apartment']
    pro_type=[]
    for i in names:
        f=False
        for j in property_types:
            if j in i:
                pro_type.append(j)
                f=True
                break
        if f==False:
            pro_type.append('unknown')
    for i in pro_type:
        a9.append(i)
base_url = 'https://www.makaan.com/vijayawada-residential-property/buy-property-in-vijayawada-city?page='
for i in range(1,52): 
    url=base_url + str(i)          #generating urls
    fn(url) #calling functions

In [11]:
data = pd.DataFrame({'Property_Names':a1,
'Property_type':a9,
'Areas':a3,
'Price in Lakhs':a2,
'Bathrooms':a7,
'Face':a8,
'Square Feet':a4,
'Status':a6,
'Builder_Name':a5})     #creating DataFrame
data

,Property_Names,Property_type,Areas,Price in Lakhs,Bathrooms,Face,Square Feet,Status,Builder_Name
0,3 BHK Apartment in Lakshmi Serenity,Apartment,Penamaluru,108.00,0,Unknown,"5,000 / sq ft",Ready to move,Lakshmi infratech India pvt ltd
1,2 BHK Apartment in Vishwa Ayodhya Gated Community,Apartment,Gannavaram,38.00,0,Unknown,"2,500 / sq ft",Ready to move,Vishwa Ventures
2,3 BHK Apartment in Lakshmi Serenity,Apartment,Penamaluru,90.51,0,Unknown,"4,499 / sq ft",Ready to move,Lakshmi infratech India pvt ltd
3,2 BHK Apartment in Vishwa Ayodhya Gated Community,Apartment,Gannavaram,38.00,0,Unknown,"2,500 / sq ft",Ready to move,Vishwa Ventures
4,3 BHK Apartment in Lakshmi Serenity,Apartment,Penamaluru,100.00,0,Unknown,"5,000 / sq ft",Ready to move,Lakshmi infratech India pvt ltd
...,...,...,...,...,...,...,...,...,...
1003,Residential Plot in Kabela Centre,Residential Plot,Vidhyadharpuram,120.00,0,NorthWest,"6,410 / sq ft",Resale,Krishna Kurapati
1004,Residential Plot,Residential Plot,Auto Nagar,85.80,0,West,"4,205 / sq ft",Resale,user1393
1005,Residential Plot,Residential Plot,Auto Nagar,85.80,0,West,"4,205 / sq ft",Resale,user1393
1006,Residential Plot,Residential Plot,Auto Nagar,85.80,0,West,"4,205 / sq ft",Resale,user1393
1007,Residential Plot in NMR RESORTS AND DEVELOPERS,Residential Plot,Pedaogirala,15.00,0,East,"1,111 / sq ft",New,Manoj Kumar